<router-outlet
  ><nav
    class="flex items-center justify-between px-4 w-screen h-24 text-2xl text-pink-600 bg-blue-300"
  >
    <h1>Eismanufaktur</h1>
    <h2 class="flex gap-2">
      Thomas Miccichè
      <div
        class="flex items-center justify-center w-8 h-8 rounded-full bg-white"
        (click)="this.toggleMenu(); $event.stopPropagation()"
      >
        <ng-icon name="heroArrowDown" />
      </div>
      @if ( this.isOpen ) {
      <div
        class="absolute right-0 z-10 mt-10 mr-4 w-28 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
        appClickedOutside
        (clickedOutside)="this.toggleMenu()"
        role="menu"
        aria-orientation="vertical"
        aria-labelledby="menu-button"
        tabindex="-1"
      >
        <a
          href="#"
          class="flex px-4 py-2 text-sm"
          role="menuitem"
          tabindex="-1"
          id="menu-item-0"
          ><ng-icon size="20" class="pr-6" name="heroCalendarDays"></ng-icon>
          Shifts</a
        >
        <a
          href="#"
          class="flex items-center px-4 py-2 text-sm"
          role="menuitem"
          tabindex="-1"
          id="menu-item-2"
          ><ng-icon size="20" class="pr-6" name="heroUser"></ng-icon>Account</a
        >

        <button
          type="submit"
          class="flex w-full px-4 py-2 text-left text-sm"
          role="menuitem"
          tabindex="-1"
          id="menu-item-3"
        >
          <ng-icon
            size="20"
            class="pr-6"
            name="heroArrowLeftEndOnRectangle"
          ></ng-icon
          >Sign out
        </button>
      </div>
      }
    </h2>
  </nav>
  <app-calendar></app-calendar
></router-outlet>
